#container {
  width:1000px;
  margin:20px auto;
}
h1 {
  text-align:center;
}
.prod-list {
  list-style:none;
  padding:0;
  margin-left: 100px;
}
.prod-list li {
  float: left;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.prod-list img {
  margin:0;
  padding:0;
  float:left;
  z-index:5;
} 
.img1{ 
	width: 250px;
    margin-left:100px;     
    margin-right:100px;   
}
.img2{ width: 250px; height:157px;}
.img3{ width: 250px; height:157px;}
.img4{ width: 250px; height:157px;}
.img5{ width: 250px; height:157px;}
.prod-list .caption{
	position: absolute;
	top: 200px;
	width:250px;
	height:157px;
	padding-top : 20px;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	transition: all 0.6s ease-in-out;
	z-index: 10;
}
.prod-list li:hover .caption{
	opacity: 1;
	transform: translateY(-200px);
}
.prod-list .caption h2, .prod-list .caption p{
	color: #fff;
	text-align: center;
}
.prod-list .caption2{
	position: absolute;
	top: 200px;
	width:250px;
	height:157px;
	padding-top : 20px;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	transition: all 0.6s ease-in-out;
	z-index: 10;
}
.prod-list li:hover .caption2{
	opacity: 1;
	transform: translateY(-200px);
}
.prod-list .caption2 h2, .prod-list .caption2 p{
	color: #fff;
	text-align: center;
}