@charset "UTF-8";
#leftmenu {
	width :400px;
	height: 400px;
	background-color: #FFD200;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 100px;
}
#rightmenu {
	width :400px;
	height: 400px;
	background-color: #FFDFB0;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 100px;
}
#container{
     display: flex;
     justify-content: center;
     align-items: center;
}